*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    
}

.sign-section{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* width: 100%; */
    background-color: rgba(167, 167, 159, 0.336);
    height: 900px;
    /* padding: 40px 10px 40px 40px; */
    width: 100%;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70%;
    width: 50%;
    padding: 20px;
    grid-auto-rows:1fr;
    grid-gap: 10px;
    background-color: thistle;
}

.sign-up{
    background-color: white;
    height: 70%;
    width: 40%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.box {
    border-radius: 5px;
    background-color: rgb(167, 65, 65);
    padding: 6px;
    overflow: hidden;
    
}
.grid-item6 {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-item5{
    grid-column: span 2;
    grid-row: span 2;
}
.grid-item3{
    grid-column: span 2;
    /* grid-row: span 2; */
}
.grid-item7{
    grid-row: span 2;
}
.grid-item13{
    /* height: max-content; */
    grid-row: span 1;
}

.grid-item14{
    /* height: max-content; */
    grid-column: span 2;
}
